:root {
    --box-width:30px;
    --box-height:30px;
    --ul:50vw;
    --ul-h2:50vw;
    --ul-li:50vw;
    --box-gap:5px;
    --language-heading:2rem;
    --language-font:1.5rem;
    --box-vertical-padding:30px;
    --box-horizontal-padding:30px;
}

#section3 {
    width: 100vw;
    padding: 20px 20px 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.5;
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#section3 h1 {
    font-size: var(--language-heading);
}

#section3 > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: var(--box-vertical-padding) var(--box-horizontal-padding);
    border-radius: 10px;
}

.language h2 {
    font-size: var(--language-font);
    font-weight: 500;
    width: var(--ul-h2);
    word-break: break-all;
}

#section3 ul {
    list-style: none;
    width: var(--ul-li);
}

#section3 h3 {
    text-align: right;
    color: #cccc;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    font-size: var(--language-font);
}

#section3 h1 span{
    color: blue;
}

.language {
    display: flex;
}

.language ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: var(--box-gap);
}

.language ul li {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: var(--box-width);
    height: var(--box-height);
    border-radius: 5px;
}

@media (min-width:500px) {
    :root{
        --box-width:40px;
        --box-gap:20px;
        --ul-h2:30vw;
    }
}

@media (min-width:600px) {
    :root {
        --box-width:50px;
        --box-height:35px;
    }
}

@media (min-width:700px) {
    :root {
        --box-width:50px;
        --box-height:40px;
    }
}

@media (min-width:800px) {
    #section3 {
        padding: 40px 60px 40px 150px;
    }

    :root{
        --box-width:6vw;
        --box-gap:25px;
        --ul-h2:30vw;
        --ul-li:70vw;
        --box-vertical-padding:45px;
        --box-horizontal-padding:35px;
    }
}

@media (min-width:1000px) {

    :root{
        --box-width:7vw;
        --language-font:1.6rem;
        --box-padding:60px;
        --language-heading:2.1rem;
        --box-vertical-padding:55px;
        --box-horizontal-padding:50px;
    }
}

@media (min-width:1100px) {
    :root{
        --box-width:8vw;
        --language-font:1.7rem;
        --language-heading:2.2rem;
        --box-horizontal-padding:50px;
    }
}